@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
  min-height: 100vh;
  margin: 0;
}
